*.xml
*.pfx
*.json
*.crt
*.key
/Server/Cpp_Server/messager/messager/x64
/Server/Cpp_Server/authentication/authentication/x64
/Server/CSharp/.vs
/Server/CSharp/admin/bin
/Server/CSharp/admin/obj
/Server/CSharp/post/bin
/Server/CSharp/post/obj
/Server/CSharp/Identification/bin
/Server/CSharp/Identification/obj
/Server/CSharp/bin
/Server/CSharp/Hash/bin
/Server/CSharp/Hash/obj
/Server/CSharp/MongoDB/bin
/Server/CSharp/MongoDB/obj
/Server/CSharp/obj
/Server/CSharp/PGAdminDAL/obj
/Server/CSharp/PGAdminDAL/bin
/Server/CSharp/RedisDAL/bin
/Server/CSharp/user/obj
/Server/CSharp/user/bin
/Server/CSharp/RedisDAL/obj
