
/Server/obj
/.vs
/Server/bin
/Server/obj
*.xml
/Server/.vs
/Server/PGAdminDAL/bin
/Server/PGAdminDAL/obj
/Server/RedisDAL/bin
/Server/RedisDAL/obj
/Server/Server/bin
/Server/Server/obj
Server/Server/appsettings.Development.json
Server/Server/appsettings.json
/NoSQL/obj
/NoSQL/bin
/NoSQL/obj
