<div class="app-container">
  
  <app-index-db />

  <div class="main">
    <app-header class="app-header" [url]="'profile'" />
    
    <div class="settings">
      <div class="settings-header">
        <div class="header-title"><p>Настройки</p></div>
        <div class="header-boxs">
          <a (click)="setType('Profile')"> <p>Ваш профіль</p> </a>
          <a> <p>Конфедеційність і безпека</p> </a>
          <a href="premium"> <p>Преміум</p> </a>
          <a (click)="setType('AboutUs')"> <p>Про нас</p> </a>
        </div>
      </div>
      <div class="settings-main">
        <ng-container *ngIf="Types === 'Profile'">
          <app-profile [user]="user!" [IsLoading]="IsLoading" [type]="'settings'" />
          <div class="SavedButtons">
            <button class="SavedButtonsDelete"><samp>Delete changes</samp></button>
            <button class="SavedButtonsSave"><samp>Save</samp></button>
          </div>
        </ng-container>
        <ng-container *ngIf="Types === 'AboutUs'">
            <div class="about-bar">
              <div class="about-title">
                <div class="about-logo">
                  <svg fill="#ffffff" width="25px" height="25px" viewBox="-3.5 -1 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    <g id="SVGRepo_iconCarrier">
                      <path d="M1.32 13.211a6.995 6.995 0 0 1 .594-6.757C3.356 4.317 8.08 2.433 16.084.801c-.268 6.851-1.122 11.345-2.563 13.482a7 7 0 0 1-9.467 2.05 7.563 7.563 0 0 1 2.27-2.482l.507-.352a2 2 0 1 0-2.278-3.288l-.507.352A11.56 11.56 0 0 0 1.32 13.21zm.746 6.86a1 1 0 1 1-2 0c0-3.466 1.7-6.712 4.55-8.686l.507-.352a1 1 0 0 1 1.139 1.644l-.507.352a8.567 8.567 0 0 0-3.689 7.042z"/>
                    </g>
                  </svg>
                </div>
                <span>Povidom</span>
              </div>
              <div class="about-text">
                <span>
                  Povidom — a modern social network based on Angular and ASP.NET (C#) Povidom is my pet project, a social network created for exchanging opinions, news, and interaction between users in a convenient and intuitive environment. The project was developed using a modern technology stack: the frontend is built on Angular, and the backend is implemented on ASP.NET using the C# programming language.
                </span>
              </div>
            </div>
        </ng-container>
        <ng-template #nones>
          <div></div>
        </ng-template>
      </div>
    </div>

  </div>
</div>

