<div class="side-menu">
    <h2>Logo</h2>
    <div class="menu-item">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32.000000pt" height="32.000000pt" viewBox="0 0 32.000000 32.000000"preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none">
        </g>
      </svg>
      Messages
    </div>
    <div class="menu-item">
      <img src="assets/icons/saved.svg" alt="Saved Icon" />
      Saved
    </div>
    <div class="menu-item">
      <img src="assets/icons/profile.svg" alt="Profile Icon" />
      Profile
    </div>
    <div class="menu-item">
      <img src="assets/icons/more.svg" alt="More Icon" />
      More
    </div>
    <button class="post-button" (click)="createPost()">Post</button>
  </div>
  