<main>
    <div class="Login">
        <h1>Logo</h1>
        <div class="google">
            <h1>Here and now</h1>
        </div>
        <div>
            <h1>Join us today.</h1>
        </div>
        <div class="AnotherLogin">
            <a href="">Google</a>
            <div>
                <div class="Line"></div>
                <div><samp>або</samp></div>
                <div class="Line"></div>
            </div>
            <div>
                <a (click)="openAuth()">Create account</a>
                <div>
                    <samp>Do you already have a profile?</samp>
                    <a (click)="openLogin()">Login</a>
                </div>
            </div>
        </div>
    </div>
</main>
