<div class="app-container">
  <div class="main">
    <app-header class="app-header" [url]="'home'" />

    <div class="post-main">
        <div class="posts-container">
            <div class="post-header">
                <div class="post-header-context">
                    <a [routerLink]="['/home']">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-z80fyv r-19wmn03" style="color: rgb(239, 243, 244);"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg>
                    </a>
                    <h2>Post</h2>
                </div>
            </div>
            <!-- Пост -->
            <div class="post">
                <ng-container *ngIf="loading; else load">
                    <div class="posts-skeleton">
                    <div class="skeleton-post" *ngFor="let i of [1]">
                        <div class="skeleton-header">
                        <div class="skeleton-avatar shimmer"></div>
                        <div class="skeleton-user">
                            <div class="skeleton-line short shimmer"></div>
                            <div class="skeleton-line tiny shimmer"></div>
                        </div>
                        </div>
                        

                        <div class="skeleton-content">
                        <div class="skeleton-line shimmer"></div>
                        <div class="skeleton-line shimmer"></div>
                        <div class="skeleton-line half shimmer"></div>
                        </div>

                        <div class="skeleton-actions">
                        <div class="skeleton-icon shimmer"></div>
                        <div class="skeleton-icon shimmer"></div>
                        <div class="skeleton-icon shimmer"></div>
                        <div class="skeleton-icon shimmer"></div>
                        </div>
                    </div>
                    </div>
                </ng-container>
                <ng-template #load>
                    <app-post-component
                    [type]="'comment'"
                    [posts]="postSend"
                    [loading]="loading"
                    />
                    <div class="User-comment" *ngIf="TOKEN | async">
                        <div class="Post" *ngIf="user != null;">
                            <div class="write_post">
                            <img [src]="user.avatar || 'https://54hmmo3zqtgtsusj.public.blob.vercel-storage.com/avatar/Logo-yEeh50niFEmvdLeI2KrIUGzMc6VuWd-a48mfVnSsnjXMEaIOnYOTWIBFOJiB2.jpg'" alt="" class="profile-icon">
                            <div 
                                role="textbox" 
                                contenteditable="true" 
                                class="textbox"
                                (input)="autoResize($event)"
                            ></div>
                            </div>
                            <div class="send_post">
                            <div class="supplement">
                            </div>
                            <div class="buttons">
                                <div class="circle-wrapper">
                                <svg class="circle" viewBox="0 0 36 36">
                                    <path
                                    class="circle-bg"
                                    d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <path
                                    class="circle-progress"
                                    [attr.stroke-dasharray]="circleProgress + ', 100'"
                                    [attr.stroke]="circleColor"
                                    d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <text x="18" y="20.35" class="circle-text" text-anchor="middle">
                                    {{PrintLenght <= 30 ? PrintLenght : null}}
                                    </text>
                                </svg>
                                </div>
                                <div class="Line"></div>
                                <button (click)="SendComents()" class="SendButton">Send</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" *ngFor="let coment of post.comments;">
                        <div class="post-item-box">
                            <div class="post-data">

                            <!-- Основний пост -->
                            <div class="post-new">
                                <img [src]="coment.user?.avatar" alt="Profile Picture" class="profile-icon">
                                <div class="post-content-info">
                                <div class="post-data-info">
                                    <div class="post-user-info">
                                    <span class="post-author">{{ coment.user?.firstName || 'Anonymous' }}</span>
                                    <span class="post-username">{{ coment.user?.userName || 'unknown' }}</span>
                                    </div>
                                    <div class="post-content">
                                    <p>{{ coment.content || '' }}</p>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="post-mut-coments">
                                <div class="post-mut-box">
                                <p>{{coment.likeAmount}}</p>
                                <a (click)="!coment.youLike ? likeComent(post.id!, coment.id!) : DeletelikeComent(post.id!, coment.id!); $event.stopPropagation()">
                                    <ng-container *ngIf="!coment.youLike; else liked">
                                    <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" id="Outline" width="24px" height="20px" viewBox="0 0 24 24"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"/></svg>
                                    </ng-container>
                                    <ng-template #liked>
                                    <svg class="LikedTrue" xmlns="http://www.w3.org/2000/svg" id="Filled" width="24px" height="20px" viewBox="0 0 24 24">
                                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"/>
                                    </svg>
                                    </ng-template>
                                </a>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <app-border-main />
  </div>
</div>
