<div class="app-container">
  
  <div class="main">
    <app-header class="app-header" [url]="'profile'"/>
    
    <div class="user-box">
      <div *ngIf="!NotFoundUser; else noUser">
        <app-profile [user]="user" [type]="'profile'" [IsLoading]="loadingUser" />
      </div>
      <ng-template #noUser>
        <div class="user-not-found">
          <h2>This account doesn’t exist</h2>
          <p>Try searching for another.</p>
        </div>
      </ng-template>

      <div class="profile-posts">
        <app-post-component
          class="posts"
          [type]="'post'"
          [posts]="posts"
          [loading]="loadingPosts"
        />
      </div>
    </div>

    <app-border-main />
  </div>

</div>
