.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--text-color-white);
  font-family: var(--font-sfpro-regular);
}

.main{
  display: flex;
  width: 100%;
  max-width: 1140px;
}



.user-not-found {
  text-align: center;
  padding: 50px;
  color: var(--white);

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: var(--grey-light-45);
  }
}


.user-box{
  margin-left: 450px;
  display: flex;
  border-right: 1px solid var(--grey-light);
  width: 610px;
  flex-direction: column
}


.profile-posts{
  display: flex;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid var(--grey-light);
}


.posts{
  width: 100%;
  display: flex;
}