header {
  border-right: 1px solid #2F3336;
  z-index: 3;
  display: flex;
  height: 100%;
  width: 30%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: flex-end;
}

.side-menu {
  width: 50%;
  height: 100%;
  font-family: "CeraRoundPro-Medium", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-menu h2 {
  padding: 13px;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #1FB0A8;
  text-align: center;
}

.menu-item {
  max-width: 100%;
  font-size: 1.2em;
  color: #ffffff;
  margin: 5px 0;
  padding: 13px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #333;
  color: #fff;
}

.post-button {
  min-height: 46px;
  max-width: 100%;
  margin: 20px 0;
  background-color: #1FB0A8;
  color: #fff;
  font-size: 1.2em;
  padding-left: 110px;
  padding-right: 110px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.post-button:hover {
  background-color: #198a84;
}

/* Адаптивні стилі для планшетів */
@media (max-width: 1024px) {
  header {
    width: 35%;
  }

  .side-menu {
    width: 60%;
  }

  .side-menu h2 {
    font-size: 1.2em;
  }

  .menu-item {
    font-size: 1em;
    padding: 10px;
  }

  .post-button {
    padding-left: 80px;
    padding-right: 80px;
  }
}


@media (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
  }

  .side-menu {
    width: 100%;
    align-items: center;
  }

  .side-menu h2 {
    font-size: 1.2em;
    padding: 10px;
  }

  .menu-item {
    font-size: 1em;
    padding: 10px 20px;
  }

  .post-button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
