<div class="overlay" (click)="close()">
  <div class="header" (click)="$event.stopPropagation()">
    <button (click)="close()"><svg viewBox="0 0 24 24" aria-hidden="true"><g><path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path></g></svg></button>
  </div>
  <div class="main">
    <div class="Send_post">
      <img src="https://pbs.twimg.com/profile_images/1742667463207055360/UYNxKd3H_400x400.jpg" alt="" class="profile-icon">
      <div role="textbox"></div>
    </div>
  </div>
</div>
