<div class="ProfileContainer">
    <div class="ProfileBanner">
      <img src="https://via.placeholder.com/120" alt="User Avatar" class="ProfileAvatar">
    </div>
    <div class="ProfileHeader">
      <button mat-button>Edit Profile</button>
    </div>
    <div class="ProfileInfo">
      <div class="ProfileName">User Name</div>
      <div class="ProfileUsername">username</div>
      <div class="ProfileBio">
        This is the user's bio. It describes the user and their interests.
      </div>
    </div>
    <div class="ProfileTabs">
      <div class="ProfileTab ProfileTabActive">Tweets</div>
      <div class="ProfileTab">Replies</div>
      <div class="ProfileTab">Media</div>
    </div>
  </div>
  