<div class="app-container">
  

  <div class="main">
    <app-header class="app-header" [url]="'saved'" />
    
    <div class="post-main">
      <div class="posts-container">
        <div class="post-header">
            <div class="post-header-context">
                <a [routerLink]="['/home']">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-z80fyv r-19wmn03" style="color: rgb(239, 243, 244);"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg>
                </a>
                <h2>Saved</h2>
            </div>
        </div>
        <!-- Пост -->
        <div class="posts">
          <ng-container *ngIf="this.loading; else load">
            <div class="posts-skeleton">
              <div class="skeleton-post" *ngFor="let i of [1,2,3,4,5]">
                <div class="skeleton-header">
                  <div class="skeleton-avatar shimmer"></div>
                  <div class="skeleton-user">
                    <div class="skeleton-line short shimmer"></div>
                    <div class="skeleton-line tiny shimmer"></div>
                  </div>
                </div>
                

                <div class="skeleton-content">
                  <div class="skeleton-line shimmer"></div>
                  <div class="skeleton-line shimmer"></div>
                  <div class="skeleton-line half shimmer"></div>
                </div>

                <div class="skeleton-actions">
                  <div class="skeleton-icon shimmer"></div>
                  <div class="skeleton-icon shimmer"></div>
                  <div class="skeleton-icon shimmer"></div>
                  <div class="skeleton-icon shimmer"></div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #load>
            <app-post-component
              [type]="'post'"
              [posts]="posts"
              [loading]="loading"
            />
          </ng-template>
        </div>
      </div>

    </div>
    <app-border-main />
  </div>
</div>
