/* Основні стилі */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.not-found-image {
  width: 50%;
  max-width: 400px;
  margin-bottom: 30px;
  animation: bounce 1.5s infinite;
}

.not-found-title {
  font-size: 3em;
  font-weight: bold;
  color: #444;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.not-found-message {
  font-size: 1.5em;
  color: #777;
  margin-bottom: 40px;
}

.home-button {
  background-color: #1FB0A8;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

.home-button:hover {
  background-color: #198a84;
}


@media (max-width: 1024px) {
  .not-found-image {
    width: 60%;
    max-width: 350px;
  }

  .not-found-title {
    font-size: 2.5em;
  }

  .not-found-message {
    font-size: 1.4em;
  }

  .home-button {
    font-size: 1em;
    padding: 12px 25px;
  }
}


@media (max-width: 768px) {
  .not-found-image {
    width: 70%;
    max-width: 300px;
  }

  .not-found-title {
    font-size: 2em;
  }

  .not-found-message {
    font-size: 1.3em;
  }

  .home-button {
    font-size: 1em;
    padding: 10px 20px;
  }
}


@media (max-width: 480px) {
  .not-found-image {
    width: 80%;
    max-width: 250px;
  }

  .not-found-title {
    font-size: 1.8em;
  }

  .not-found-message {
    font-size: 1.2em;
  }

  .home-button {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}
