.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--text-color-white);
  font-family: var(--font-sfpro-regular);
}

.main{
  display: flex;
  width: 100%;
  max-width: 1140px;
}

.posts{
  margin-top: 10px;
}

.post-bottom{
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.post-bottom-addition{
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-main{
  margin-left: 450px;
  width: 610px;
  height: 100%;
}

.posts-container {
  min-height: 100vh;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--grey-light);
}

.post-header-nav {
  position: fixed;
  display: flex;
  width: 610px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  border-bottom: 1px solid var(--grey-light);
  border-right: 1px solid var(--grey-light);
  z-index: 1000;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--grey-light);
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  color: var(--grey-light-45);
  font-family: "SFProDisplay-Medium";
  position: relative;
  cursor: pointer;
}

.nav-item span {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

.nav-item.active {
  color: var(--text-color-white);
}

.nav-item.active span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background: var(--primary-color);
  border-radius: 10px;
}

.new-posts {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: var(--grey-light-45);
  transition: background 0.3s;

  samp{
    font-family: var(--font-sfpro-regular);
  }

  &:hover{
    transition: background 0.3s;
    background-color: var(--grey-dark-15);
  }
}

.post-item {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--grey-light);
  cursor: pointer;
  transition: background 0.3s;

  &:hover{
    transition: background 0.3s;
    background-color: var(--grey-dark-15);
  }
}

.posts {
  margin-top: 70px;
  display: flex;
  width: 100%;
  flex-direction: column;
}



@media (max-width: 1400px) {
  app-border-main {
    display: none;
  }
}
