<div class="app-container">
  <div class="main">
    <app-header class="app-header" [url]="'home'" />

    <div class="post-main">
      <div class="posts-container">
        <div class="post-header-nav">
<nav class="nav-menu">
  <a 
    href="#" 
    class="nav-item"
    [class.active]="TypePost === 1"
    (click)="setTypePost(1); $event.preventDefault()"
  >
    <span>For you</span>
  </a>

  <a 
    href="#" 
    class="nav-item"
    [class.active]="TypePost === 2"
    (click)="setTypePost(2); $event.preventDefault()"
  >
    <span>Following</span>
  </a>
</nav>
          <!-- <a class="new-posts">
            <samp>Show new 25 posts</samp>
          </a> -->
        
        </div>

        <!-- Пост -->
        <div class="posts">
          <app-post-component
            [type]="'post'"
            [posts]="posts"
            [loading]="postCache.isLoaded"
          />
        </div>
      </div>

    </div>
    <app-border-main />
  </div>
</div>
