.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--text-color-white);
  font-family: var(--font-sfpro-regular);
}

.main{
  display: flex;
  width: 100%;
}



.user-chat-box{
  display: flex;
  margin-left: 450px;
  width: 100%;
  border-right: 1px solid var(--grey-light);
}

.users-contacts{
  height: 100%;
  max-width: 450px;
  width: 100%;
  border-right: 1px solid var(--grey-light);
}

.chat-messages-container{
  width: 100%;
}