/* OVERLAY / BOX */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
}

.BOX {
  z-index: 200;
  gap: 30px;
  margin-top: 200px;
  background: var(--grey-dark-15);
  padding: 20px;
  border-radius: 13px;
  min-width: 600px;
  max-width: 600px;
  min-height: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  width: 100%;
  display: flex;
}

.header button {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.header button svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.header button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* MAIN */

.main {
  width: 100%;
  display: flex;
  gap: 10px;

  img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }
}

.Post {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 13px;
}

/* WRITE POST */

.write_post {
  width: 90%;
  min-height: 150px;
  display: flex;
  gap: 10px;
}

.write-post-main {
  display: flex;
  gap: 10px;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* POST INFO */

.post-data-info {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.post-quote-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.post-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-author {
  font-family: var(--font-sfpro-medium);
}

.post-username {
  color: var(--grey-light-45);
}

/* TEXTBOX */

.overflow {
  background: rgba(255, 0, 0, 0.4);
  color: white;
}

.textbox {
  height: 22px;
  max-height: 380px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.textbox:empty::before {
  content: "What's new?";
  color: #888;
}

.textbox:focus {
  outline: none;
}

.textbox-overflow {
  background: rgba(255, 0, 0, 0.4);
  color: white;
}

/* SEND POST */

.send_post {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 10px;
}

.line {
  background-color: rgb(62, 65, 68);
  width: 2px;
  border-radius: 3px;
}

/* CIRCLE */

.circle-wrapper {
  width: 25px;
  height: 40px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke-width: 3.8;
}

.circle-progress {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
}

.circle-text {
  font-family: var(--font-sfpro-medium);
  font-size: 0.6em;
  fill: #888;
  dominant-baseline: middle;
}

/* SEND BUTTON */

.SendButton {
  border: none;
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: var(--font-sfpro-bold);
  cursor: pointer;
}

.SendButton:active {
  background-color: rgba(255, 255, 255, 0.755);
}


/* QUOTE POST */
.post-reply {
  margin-top: 50px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s;
  width: 100%;

  &:hover {
    background-color: var(--grey-dark);
  }
}

.post-reply-item {
  display: flex;
  border: 1px solid var(--grey-light);
  padding: 0.8rem;
  border-radius: 10px;
  gap: 10px;
}

.post-data-info-quote{
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}