main {
    display: flex;
    height: 100%;
    width: 70%;
    position: fixed;
    right: 0;
    top: 0;
    justify-content: flex-end;
    z-index: 2;
    transition: width 0.3s ease;
}
  
main{
    color: #E7E9EA;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.HeaderUserChats{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2F3336;
}

.HeaderUserChatsMenu{
    display: flex;
    gap: 5px;
}

.HeaderUserChatsMenu svg{
    width: 20px;
}

.HeaderUserChatsMenu a{
    
    display: flex;
    height: auto;
    width: auto;
    padding: 5px;
}

.HeaderUserChatsMenu a:hover{
    border-radius: 50%;
    background-color: #212325;
}

.UserChats{
    height: 100%;
    width: 35%;
    min-width: 450px;
    border-right: 1px solid #2F3336;
}

.IdChat{
    cursor: pointer;
    gap: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: auto;
    display: flex;
    padding-bottom: 16px;
    padding-top: 16px;
    transition: 0.2s;
}

.IdChat img{
    border-radius: 50%;
    height: 40px;

}


.IdChat:hover{
    transition: 0.2s;
    background-color: rgb(20, 21, 22);
}

.ChatText{
    margin-left: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ChatUser{
    display: flex;
    width: 100%;
    gap: 6px;
}

.ChatUser samp{
    font-family: "CeraRoundPro-Medium", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.ChatUserData{
    color: #71767B;
}

.ChatUserMesage{
    font-family: "CeraRoundPro-Medium", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.Messages{
    display: flex;
    height: 100%;
    width: 40%;
    min-width: 600px;
    border-right: 1px solid #2F3336;
    flex-direction: column;
    justify-content: space-between;
}

.MessagesProfile{
    padding: 26px;
    display: flex;
    border-bottom: 1px solid #2F3336;
}

.MessagesProfile img{
    border-radius: 50%;
    height: 50px;
}

.MessagesdataAndStatus{
    margin-left: 25px;
}

.MessagesdataforUser{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.ChatUserLastStatus{
    font-size: 18px;
}

.ChatUserLastStatusTrue {
    font-size: 20px;
}

.MessageText{
    height: auto;
}

.SandMessages{
    overflow: hidden;
    padding: 20px;
    border-top: 1px solid #2F3336;
}

.SandMessagesInput{
    display: flex;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    border: 25px;
    background-color: #202327;
    align-items: center;
}

.SandMessagesInput textarea{
    padding-top: 15px;
    width: 100%;
    font-family: "CeraRoundPro-Medium", sans-serif;
    border: none;
    outline: none;
    height: auto;
    overflow-y: hidden; 
    resize: none;
    background-color: transparent;
    color: white;
    max-height: 200px;
}

.SandMessagesSVG a{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.SandMessagesSVG svg{
    fill: #1FB0A8; 
    width: 20px; 
    height: 20px;
    display: flex;
}


.MessageText{
    overflow-y: auto;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.MessageTextList{
    display: flex;
    flex-direction: column;
}

.MessageTextArray{
    display: flex;
}

.message-sender {
    background-color: #f0f0f0; 
    color: black;
    align-self: flex-end; 
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
    margin: 10px;
}

.message-receiver {
    background-color: #007bff; 
    color: white;
    align-self: flex-start;
    border-radius: 15px;
    padding: 10px;

    margin: 10px;
}


.Message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    max-width: 70%;
}


.ChatUserclose {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}