<main class="main">
  <div class="Neon"></div>
  <div class="app-container">
    <div class="premium-container">
      <div class="premium-title-box">
        <div class="premium-title"><p>Оновись до Преміум</p></div>
        <div class="premium-about">
          <div class="premium-text-about">
            <p>Насолоджуйтесь розширеними можливостями, ексклюзивними інструментами, перевіркою та безпекою найвищого рівня.</p>
            <p>Підтримайте проект</p>
          </div>
          <div class="premium-img-about"><img src="/Img/image%201224.png" alt="Diamont"></div>
        </div>
      </div>
      <div class="premium-form">
        <div class="premium-boxs">
          <div class="premium-box-container">
            <div class="premium-box-container-title">
              <svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.625 2.5H4.375C2.625 2.5 1.25 3.875 1.25 5.625V14.375C1.25 16.125 2.625 17.5 4.375 17.5H15.625C17.375 17.5 18.75 16.125 18.75 14.375V5.625C18.75 3.875 17.375 2.5 15.625 2.5ZM4.375 6.875C4.375 6.5 4.625 6.25 5 6.25H8.75C9.125 6.25 9.375 6.5 9.375 6.875V10.625C9.375 11 9.125 11.25 8.75 11.25H5C4.625 11.25 4.375 11 4.375 10.625V6.875ZM15 13.75H5C4.625 13.75 4.375 13.5 4.375 13.125C4.375 12.75 4.625 12.5 5 12.5H15C15.375 12.5 15.625 12.75 15.625 13.125C15.625 13.5 15.375 13.75 15 13.75ZM15 11.25H11.25C10.875 11.25 10.625 11 10.625 10.625C10.625 10.25 10.875 10 11.25 10H15C15.375 10 15.625 10.25 15.625 10.625C15.625 11 15.375 11.25 15 11.25Z" fill="white"/>
              </svg>
              <p>Пости +</p>
            </div>
            <div class="premium-box">
              <div class="premium-box-content">
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="premium-box-container">
            <div class="premium-box-container-title">
              <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5433 6.7039C21 7.80653 21 9.20435 21 12C21 14.7956 21 16.1935 20.5433 17.2961C19.9343 18.7663 18.7663 19.9343 17.2961 20.5433C16.1935 21 14.7956 21 12 21H9C6.17157 21 4.75736 21 3.87868 20.1213C3 19.2426 3 17.8284 3 15V12C3 9.20435 3 7.80653 3.45672 6.7039C4.06569 5.23373 5.23373 4.06569 6.7039 3.45672C7.80653 3 9.20435 3 12 3C14.7956 3 16.1935 3 17.2961 3.45672C18.7663 4.06569 19.9343 5.23373 20.5433 6.7039ZM8 9.99966C8 9.44738 8.44772 8.99966 9 8.99966H15C15.5523 8.99966 16 9.44738 16 9.99966C16 10.5519 15.5523 10.9997 15 10.9997H9C8.44772 10.9997 8 10.5519 8 9.99966ZM8 13.9997C8 13.4474 8.44772 12.9997 9 12.9997H12C12.5523 12.9997 13 13.4474 13 13.9997C13 14.5519 12.5523 14.9997 12 14.9997H9C8.44772 14.9997 8 14.5519 8 13.9997Z" fill="white"/>
              </svg>
              <p>Чати +</p>
            </div>
            <div class="premium-box">
              <div class="premium-box-content">
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
                <div class="premium-box-offer">
                  <div class="premium-box-advantages">
                    <p>Premium</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                  <div class="premium-box-disadvantages">
                    <p>Free</p>
                    <div class="premium-box-item">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pay">
          <button><samp>Підписка за 1$ на 1 місяць</samp></button>
        </div>
      </div>

    </div>
  </div>
</main>
